.noResults {
  margin: 3rem auto 1rem;
  text-align: center;
  padding: 0 2em;
  border: 1px solid #c9201a;
  border-radius: 0.25em;
  width: 80%;
  max-width: 45rem;
}

.noResults strong {
  color: #c9201a;
}
